In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('datasets/dogs.csv')

In [4]:
df.head()

      Name      Breed  Color  Height(cm)  Weight(kg) Date of Birth
0    Bella   Labrador  Brown          56          25    2013-07-01
1  Charlie     Poodle  Black          43          23    2016-09-16
2     Lucy  Chow Chow  Brown          46          22    2014-08-25
3   Cooper  Schnauzer   Gray          49          17    2011-12-11
4      Max   Labrador  Black          59          29    2017-01-20

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           7 non-null      object
 1   Breed          7 non-null      object
 2   Color          7 non-null      object
 3   Height(cm)     7 non-null      int64
 4   Weight(kg)     7 non-null      int64
 5   Date of Birth  7 non-null      object
dtypes: int64(2), object(4)
memory usage: 464.0+ bytes

In [6]:
df.to_excel('dogs.xlsx')